.state-dropdown {
  position: relative;
  margin: 16px 0;

  .dropdown-label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #9e9e9e;
    font-size: 16px;
    transition: all 0.3s ease;
    pointer-events: none;
    background-color: #fff; // Matches the dropdown's background
    padding: 0 5px; // Adds padding for the label's "background" effect
  }

  .dropdown-element {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    appearance: none;
    background-color: #fff;
    position: relative;
    color: var(--primary-text-color);


    &:focus {
      border-color: var(--secondary-text-color);
    }

    &:focus~.dropdown-label,
    &.dropdown-filled~.dropdown-label {
      top: -10px;
      font-size: 12px;
      color: var(--secondary-text-color);
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: 1px solid transparent;
      border-radius: 4px;
      z-index: 1;
    }


    &:focus::before,
    &.dropdown-filled::before {
      border-color: #fff;
    }
  }
}