
@use '@/lib/breakpoints' as bp;


.home-price-container {
  // border: 3px solid black;
  background-color: var(--container-color);
  border-radius: 1em;
  width: 90%;
  padding: 1em;
  // margin: 0 auto;
  // width: 100%;
  > h1 {
    margin-bottom: 0.35em;
    font-size: 1.25em;
    font-weight: 500;
  }


  @include bp.respond-to(tablet) {
    // border: 10px solid pink;
    width: 50%;
  }




  &__form {
    display: flex;
    flex-direction: column;

    > input {
      border: 1px solid var(--secondary-text-color);
      height: 2em;
      padding: 0.5em;
      margin-bottom: 1em;
    }

    > label {
      color: var(--secondary-text-color);
      font-size: 0.75em;
    }
  }
}