.input-field {
  position: relative;
  margin: 16px 0;
  
  .input-label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--secondary-text-color);
    font-size: 16px;
    transition: all 0.3s ease;
    pointer-events: none;
    background-color: var(--container-color);
  }

  .input-element {
    width: 100%;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    border: 1px solid var(--secondary-text-color);
    border-radius: 4px;
    outline: none;
    color: var(--primary-text-color);

    &:focus {
      border-color: var(--secondary-text-color)
    }

    &:focus ~ .input-label,
    &.input-filled ~ .input-label {
      top: 0;
      left: 8px;
      font-size: 12px;
      color: var(--secondary-text-color);
    }
  }

  &.focused .input-label {
    top: 0;
    left: 8px;
    font-size: 12px;
    color: var(--secondary-text-color);
  }
}
